<?xml version="1.0" encoding="utf-8" ?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
	<testsuites>
		<testsuite name="s9e/reckless">
			<directory suffix=".php">s9e/reckless</directory>
		</testsuite>
	</testsuites>
</phpunit>